# Ignore all
*

# Avoid ignoring directory
!*/

# Avoid ignoring some suffix
!*.bash
!*.cfg
!*.md
!*.msg
!*.patch
!*.sh

# Avoid ignoring default file
!.dockerignore
!.gitignore
!f[0-9]
!Dockerfile
!LICENSE

# Ignore some directory
.*/
