DEFAULT tc
SERIAL 0 9600
DISPLAY boot.msg
PROMPT 1
TIMEOUT 1
IMPLICIT 0

# see http://www.syslinux.org/wiki/index.php/SYSLINUX
F1 boot.msg
F2 f2
F3 f3
F4 f4

LABEL tc
KERNEL /boot/vmlinuz64 com1=9600,8n1
INITRD /boot/initrd.img

# http://wiki.tinycorelinux.net/wiki:boot_options
APPEND loglevel=3 tz=CST-8 console=tty0 waitusb=10 base noembed norestore noswap
